﻿/* DEFAULTS
----------------------------------------------------------*/

body, html 
{
    margin: 0px;
    width: 100%;
    height: 100%;
    background: #222222;
    font-size: .90em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    color: #222222;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin: 0px 12px 10px 12px;
    line-height: 1.6em;
    text-align: left;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.8em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
    padding: 12px 12px 12px 12px;
    margin: 0px;
}

h3
{
    font-size: 1.2em;
    text-align: left;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.header
{
    margin: 0px;
    padding: 0px;
    background: #222222;
    width: 100%;
    height: 100%;
}

.header h1
{
    border-style: none;
    border-color: inherit;
    border-width: medium;
    font-weight: 700;
    color: #f9f9f9;
    line-height: 2em;
    font-size: 2.5em;
    width: 100%;
    margin: 0px 0px 0px 0px;
}

.main
{
    margin: 0px;
    padding: 0px 256px 0px 256px;
    background-color: #ffffff;
}

div.content
{
    padding: 12px 12px 12px 12px;
    float: left;
    text-align: center;
    line-height: normal;
    width: 70%;
    background-color: #ffffff;
}

div.twitter
{
    padding: 12px 12px 12px 12px;
    float: right;
    width: 25%;
    background-color: #ffffff;
    margin-bottom: 0px;
}

.leftCol
{
    width: 200px;
    min-height: 200px;
}

.footer
{
    background-color: #222222;
    background: #222222;
    width: 100%;
}
div.footerLeft
{
    color: #dddddd;
    float: left;
    text-align: center;
    line-height: normal;
    background: #222222;
    width: 50%;
    
}
div.footerRight
{
    color: #dddddd;
    float: right;
    text-align: center;
    line-height: normal;
    background: #222222;
    width: 50%;
}

/* MENU BAR
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#222222;
    width: 100%;
    margin-bottom: 0px;
}

div.MenuContainer
{
    margin: 0px auto 0px auto;
    text-align: center;
    height: 36px;
    width: 660px;
}

.menu
{
	text-align:center;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    border: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
}

.menu ul
{
    margin: 0px;
    padding: 0px;
    list-style-type:none;
    height: 32px;
}

.menu ul li
{
    display:inline;
    margin: 0px;
}

.menu ul li a
{
    color:#dddddd;
    text-decoration:none;
    float:left;
    height:25px;
    margin: 0px;
    padding:5px;
    width:100px;
    text-align:center;
}

.menu a:link, div.Menu a:visited
{
    color:#dddddd;
    background-repeat:repeat-x;
    background-position: center 50%;
}

.menu a:hover, div.Menu a:active
{
    color:#f04030;
    background-position: center 50%;
}

.menu a:link, div.Menu a:visited
{
    color:#dddddd;
    background-repeat:repeat-x;
    background-position: center 50%;
}

.menu a:hover, div.Menu a:active
{
    color:#f04030;
    background-position: center 50%;
}


.menu, .menu ul li a
{
    background-color:#222222;
}


/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: center;
    width: 100%;
}

/* HOME
----------------------------------------------------------*/

.defaultcontent
{
    
}

/* Projects
----------------------------------------------------------*/

a.projectlinks
{
    color: #000000;
}


/* Contact
----------------------------------------------------------*/

.contactform
{
    margin: 0px 0px 0px 25%;
    width: 544px;
}

/* Google Map
----------------------------------------------------------*/

#GoogleMapContainer
{
    width: 100%;
    height: 512px;
}

/* Google ReCaptcha
----------------------------------------------------------*/

#GoogleReCaptchaContainer
{
    text-align: -webkit-center;
}